In [1]:
import pandas as pd
import datetime as dt
import numpy as np

# load measures from project data dictionary
measures = ['TEPS', 'MAP-SR', 'CESD', 'COPE', 'CAPE']
dataDict = {m:pd.read_excel('dataPrep/HBP_NDA_DataDict.xlsx', sheet_name=m) for m in measures}

# load collected data & sort by 'subnum'
qltrcs_data = pd.read_csv('dataPrep/Healthy+Brains+Project+-+Qualtrics+Survey_April+23,+2020_09.22.csv', skiprows=[1, 2]).sort_values(by='subnum')
intvw_data = None # update when we get the database, remember to sort by subnum
Data = pd.concat([qltrcs_data, intvw_data], axis=1, sort=False)

In [2]:
# creates an object for each measure with the following capabilities
class Measure():
        
    NDA_vars = None
    HBP_vars = None
    varmatches = dict([]) 
    forUpload = None
    
    def matchVars(self):
        HBP = list(self.HBP_vars)
        matches = {v:self.NDA_vars.iloc[HBP.index(v)] for v in HBP}
        return matches
    
    def __init__(self, name):
        global dataDict
        self.NDA_vars = dataDict[name]['NDA varname']
        self.HBP_vars = dataDict[name]['HBP varname']
        self.varmatches = self.matchVars()
        self.forUpload = pd.DataFrame(columns=self.NDA_vars)
        return None
                  
    def getVarData(self, hbpv):
        global Data
        d = Data[hbpv]
        return d
    
    def formatDateObjs(df):
        df['interview_date'] = df['interview_date'].apply(dt.datetime.strptime(dt_string, "%d/%m/%Y %H:%M:%S"))
        df['interview_age'] = df['interview_age'].apply(dt.datetime.strptime(dt_string, "%Y/%m/%d %H:%M:%S"))
        diffs = 
        return df
        
    def fillColumns(self):
        for v in self.HBP_vars:
            if isinstance(v, type(float("Nan"))):
                continue
            else:
                data = self.getVarData(v)
                ndav = self.varmatches[v]
                self.forUpload[ndav] = data
        return None

In [31]:
TEPS = Measure('TEPS')
TEPS.fillColumns()
#TEPS.forUpload

In [9]:
TEPS.forUpload

NDA varname,subjectkey,src_subject_id,interview_date,interview_age,sex,teps1,teps2,teps3,teps4,teps5,...,teps18,teps_af_ic,teps_cf_ic,teps_total_ic,tepc_acsi,teps_ap,teps_cp,visnum,visit,timept
2,NaN,10013,2019-11-19 09:48:13,07/11/1962,1,2,4,5,5,6,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,10014,2019-10-14 10:34:15,06/06/1962,1,1,6,6,6,6,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,10017,2020-02-22 12:45:34,05/01/1962,2,5,6,6,4,4,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,10025,2019-10-30 15:47:55,02/21/1962,2,6,6,2,6,4,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,10029,2020-01-25 12:30:02,08/08/1962,1,4,6,6,6,2,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,10033,2019-12-07 10:25:15,06/13/1962,2,4,6,4,6,2,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,10038,2020-01-22 14:34:15,07/23/1962,2,5,6,6,6,4,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,10039,2019-12-14 09:17:09,09/13/1962,1,3,6,5,5,2,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,10040,2019-12-20 12:28:22,07/23/1960,1,4,5,5,5,4,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,10041,2020-02-15 13:29:33,10/27/1962,2,4,4,6,5,1,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,10052,2020-02-19 15:42:11,08/16/1962,2,4,6,6,6,3,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,10055,2020-01-27 12:20:58,05/16/1962,2,4,6,3,5,1,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,10056,2020-03-14 11:42:52,12/20/1961,1,2,4,4,4,2,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,10058,2020-03-16 10:52:58,02/04/1962,2,4,6,6,4,3,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,10060,2020-02-08 12:28:31,02/16/1962,2,3,6,6,3,6,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,10065,2020-02-12 11:56:33,05/17/1962,2,4,6,6,6,4,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,10075,2020-03-13 11:59:17,06/01/1962,2,4,6,6,6,2,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,10082,2020-02-25 16:04:17,01/02/1962,2,2,5,5,6,5,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
def formatDateObjs(df):
    # convert timestamps to datetime objects
    df['interview_date'] = df['interview_date'].apply(lambda x: dt.datetime.strptime(str(x), "%Y-%m-%d %H:%M:%S"))
    df['interview_age'] = df['interview_age'].apply(lambda x: dt.datetime.strptime(str(x), "%m/%d/%Y"))
    # calculate age in months & insert in table
    diffs = df['interview_date'].sub(df['interview_age'])
    df['interview_age'] = diffs.apply(lambda d: round(d.days/30))
    # reformat interview_date as MM/DD/YYYY
    df['interview_date'] = df['interview_date'].apply(lambda x: dt.datetime.strftime(x, "%m/%d/%Y"))
    df['interview_date'] = df['interview_date'].apply(lambda x: dt.datetime.strptime(x, "%m/%d/%Y"))
    
formatDateObjs(TEPS.forUpload)
TEPS.forUpload

NDA varname,subjectkey,src_subject_id,interview_date,interview_age,sex,teps1,teps2,teps3,teps4,teps5,...,teps18,teps_af_ic,teps_cf_ic,teps_total_ic,tepc_acsi,teps_ap,teps_cp,visnum,visit,timept
2,NaN,10013,2019-11-19,698,1,2,4,5,5,6,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,10014,2019-10-14,698,1,1,6,6,6,6,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,10017,2020-02-22,704,2,5,6,6,4,4,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,10025,2019-10-30,702,2,6,6,2,6,4,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,10029,2020-01-25,700,1,4,6,6,6,2,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,10033,2019-12-07,700,2,4,6,4,6,2,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,10038,2020-01-22,700,2,5,6,6,6,4,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,10039,2019-12-14,697,1,3,6,5,5,2,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,10040,2019-12-20,723,1,4,5,5,5,4,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,10041,2020-02-15,698,2,4,4,6,5,1,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,10052,2020-02-19,700,2,4,6,6,6,3,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,10055,2020-01-27,702,2,4,6,3,5,1,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,10056,2020-03-14,709,1,2,4,4,4,2,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,10058,2020-03-16,708,2,4,6,6,4,3,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,10060,2020-02-08,706,2,3,6,6,3,6,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,10065,2020-02-12,703,2,4,6,6,6,4,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,10075,2020-03-13,704,2,4,6,6,6,2,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,10082,2020-02-25,708,2,2,5,5,6,5,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
TEPS.forUpload['interview_date'].astype(date)
type(TEPS.forUpload['interview_date'][0])

str

In [33]:
TEPS.forUpload.to_csv("TEPS_Output_Example.csv")

In [ ]:
forUpld = {m:Measure(m) for m in measures}

for M in forUpld.values():
    M.fillColumns()

In [6]:
# converts interview_age date info to date object
def toDateObj(s):
    m = int(s[0:2])
    d = int(s[3:5])
    y = int(s[6:])
    return dt.date(y, m, d)

# converts interview_date date (or Qualtrics timestamp) info to date object
def toDateObj2(s):
    y = int(s[0:4])
    m = int(s[5:7])
    d = int(s[8:10])
    return dt.date(y, m, d)

# reformat interview_date as MM/DD/YYYY & returns as a series
def reformatIntDate(series):
    series = series.apply(lambda x: toDateObj2(x))
    series = series.apply(lambda x: dt.datetime.strptime(x, "%m/%d/%Y"))
    return series

# a function to convert birthdate to current age in months, returns a series containing the reformatted dates
def calcAgeMonths(m):
    idates = m.forUpload['interview_date'].to_numpy()
    bdays = m.forUpload['interview_age'].apply(lambda x: toDateObj(x))
    bdays = m.forUpload['interview_age'].to_numpy() 
    age_in_mos = pd.Series(np.subtract(idates, bdays))
    return age_in_mos.apply(lambda x: round(x.days/30))

In [7]:
TEPS.forUpload['interview_date'] = reformatIntDate(TEPS.forUpload['interview_date'])
TEPS.forUpload['interview_age'] = calcAgeMonths(TEPS)

TypeError: strptime() argument 1 must be str, not datetime.date

In [ ]:
TEPS.forUpload

THINGS LEFT TO DO
1. [DONE] convert interview_age to age in months
2. add missing values where necessary
3. set data types for each variable according to codebook


AFTER WRITING TO CSV:
1. reformat interview_date to MM/DD/YYYY in MS Excel
2. add first row with label to spreadsheet
3. make sure everything looks good

In [ ]:
class DatesCleaner():
    
    def __init__(self):
        return None
    
    # converts interview_age date info to date object
    def toDateObj(self, s):
        m = int(s[0:2])
        d = int(s[3:5])
        y = int(s[6:])
        return dt.date(y, m, d)
    
    # converts interview_date date (or Qualtrics timestamp) info to date object
    def toDateObj2(self, s):
        y = int(s[0:4])
        m = int(s[5:7])
        d = int(s[8:10])
        return dt.date(y, m, d)
    
    # a function to convert birthdate to current age in months, returns a series containing the reformatted dates
    def calcAgeMonths(self, idays, bdays):
        bdays.apply(lambda x: self.toDateObj(x))
        idays.apply(lambda x: self.toDateObj2(x))
        diffs = []
        for i in idays.iteritems(), bdays.iteritems():
            print(i)
        in_mos = pd.Series(diffs).apply(lambda x: round(x.days/30)) # NEED TO CHECK THAT ASSUMING 30 DAYS PER MONTH IS AN OK ASSUMPTION
        return in_mos
    
    # reformat interview_date as MM/DD/YYYY & returns as a series
    def reformatIntDate(self, m):
        idays = m.forUpload['interview_date']
        idays.apply(lambda x: self.toDateObjs2(x))
        idays.apply(lambda x: x.strftime('%m/%d/%Y'))
        return idays
    
    def cleanDates(self, m):
        iage = m.forUpload['interview_age']
        idate = m.forUpload['interview_date']
        ageInMonths = self.calcAgeMonths(idate, iage)
        reformatted = self.reformatIntDate(m)
        return (ageInMonths, reformatted)
    
dcl = DatesCleaner()

In [ ]:
class cleanDates():
    
    # converts date info to date object
    def toDateObj(self, s):
        m = int(s[0:2])
        d = int(s[3:5])
        y = int(s[6:])
        return dt.date(y, m, d)
    
    # calculates age in months
    def calcAgeMonths(self, age, day):
        diff = day - age
        return diff.month
        
    # a function to convert birthdate to current age in months
    def convertAge(self, m):
        m.forUpload['interview_age'].astype(str)
        m.forUpload['interview_age'].apply(self.toDateObj)
        for r in m.iterrows():
            self.calcAgeMonths(r)
        m.forUpload['interview_age'] = age.months

In [ ]:
# Notes on working with datetime objects

date1 = dt.date(1997, 3, 18)
date2 = dt.date(2020, 3, 18)
diff = date2 - date1
print(diff) # returns the difference in days, hr:min:sec

diff_in_months = round(diff.days/30) 

print(diff_in_months)

In [ ]:
# Notes on working with Series iterator objects
bdays = TEPS.forUpload['interview_age']
bds_it = bdays.iteritems()
bds_it[0]

In [ ]:
# how to change and check type of objects
TEPS.forUpload['interview_age'].astype(str)
type(TEPS.forUpload['interview_age'][0])